/*border-image */
#title1
{
    border: 10px solid transparent;
    border-image: url(border.png) 30 round;
    --fleck-size-base: 10px;
    --fleck-color-1: #262626;
    --fleck-count: 9000;

}
/*two backgroung-image */
#title2
{
    background-image: url(left.jpg),url(right.jpg);
    background-position: left bottom ,right bottom ;
     background-repeat: cover ,cover  ;
     background-blend-mode: hard-light;
     
     width: 800px;
     height: 200px;

}

/*image inside the text using position*/
#title3
{
   position: relative;
   
}
#title3 img
{
    position:absolute;
   width: 300px;
   height: 200px;

}
#title3 p
{
    position:absolute;
    word-wrap: break-word;
    width: 6cm;
}
/*horizontal and vertical*/

#title4 
{
    writing-mode: vertical-lr;
    padding-top: 210px;
    color: #00ff00;
}

#title5 
{
writing-mode: sideways-rl;
 color: brown;
   
}
/*translate animation and rotate */

.title6,.title7
{  
    height: 100px;  
    width: 100px;    
    background-color:#ffd800; 
    position: relative;
   
}
.title6:active
{
    transform: translate(1000px,50px);
    background-color:red; 
    position: relative;
    
}
.title6{
    transform: rotate(60deg);
}
 /*scale*/
.title7
{
    transform:scale(3,1);
    margin-left: 3cm;
 
}
 
 /*skew*/

.title7 {
 transform:skew(30deg,-40deg);
}

 /*counter*/
 body{
    counter-reset: section;
 }
 h1
 {
    counter-reset: section1 ;
 }
.title8 h1::before {
  
    counter-increment:section;
    content:"title" counter(section)" ";
}
 h2::before 
{
    counter-increment:section1;
    content:counter(section) "." counter(section1);
    }


   

